@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Confirmation Screen-->

<div class="text-center">
    <h2>Thank you for submitting a quote!</h2>
    <h4>Click <a asp-action="InputQuote">here</a> to submit another quote</h4>
    <h4>Click <a asp-action="QuoteList">here</a> to see the list of quotes</h4>
</div>
